<div class="row">
    <p class="welcome-msg text-center">Welcome</p>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab1" data-toggle="tab">First Page</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">Second Page</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">Third Page</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <first-page></first-page>
        </div>
        <div class="tab-pane" id="tab2">
            <second-page></second-page>
        </div>
        <div class="tab-pane" id="tab3">
            <third-page></third-page>
        </div>
    </div>
</div>